.List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 
  }
 
  /* #home-page{
   margin-left: 0;
   background-color: brown;
  } */
 
 
 
 
  #card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
 
  #btn-gn {
    background-color: #05445E;
    margin-left: 5px;
  }